<div class="btn-user-home">
  <a href="#user"><button type="button" name="home" class="btn-home">user home</button></a>
  <button type="button" name="logout" class="btn-logout" ng-click="logout()">Log out</button>
</div>

<div class="page">


  <section class="input">
    <h3>Add a skill</h3>
    <div class="skills-input">
      <form class="skills-input-form">
        <label for="skill">Skill:</label>
        <input type="text" name="skill" ng-model="newSkill.skill" placeholder="add skill...">

        <label for="experience">Years of experience:</label>
        <input type="text" name="experience" ng-model="newSkill.years" placeholder="years of experience...">

        <button type="button" name="submit" class="btn-submit-skill" ng-click="submitSkill(userInfo._id)">Submit</button>

      </form>
    </div>
  </section>
  <br><br><br>

  <section class="display">
    <h3>Skills</h3>
    <div class="skills-display">
      <table class="skills-table">
        <thead>
          <tr>
            <th class="table-head">Skill</th>
            <th class="table-head">Experience (yrs)</th>
          </tr>
        </thead>
        <tr ng-repeat="skill in userInfo.skills">
          <th class="table-body">{{skill.skill}}</th>
          <th class="table-body">{{skill.years}}</th>
        </tr>
      </table>

    </div>

  </section>
</div>
